<% include ../partials/_head.ejs %>

<main>
    <section>
        <img src="/assets/body.jpg" alt="table" class="hero-image2">
        <section id="newrecipe-container">
            <div class="/assets/body.jpg" class="hero-image2" alt="table">
                <section class="newrecipe-form">
                    <form id="newRecipeForm" class="form-style">
                        <h2>New Recipe</h2>
                        <input type="text" id="name" name="name" placeholder="Recipe Name" />
                        <textarea type="text" id="ingredients" name="ingredients" placeholder="Ingredients"
                            wrap="hard"></textarea>
                        <textarea type="text" id="procedure" name="procedure" placeholder="Procedure"></textarea>
                        <input type="text" id="image" name="image" placeholder="Put your Image URL here" />
                        <button type="submit" id="add-recipe-btn" class="btn">Add Recipe</button>
                    </form>
            </div>
            <section id="recipesSection"></section>
        </section>
    </section>
</main>

<% include ../partials/_footer.ejs %>