<% include ../partials/_head.ejs %>

<main id="mainContainerR">
    <div class="recipesContainer">
        <h1>Recipes:</h1>
        <section id="recipesLibrary">
        </section>
    </div>
</main>

<% include ../partials/_footer.ejs %>