<% include ../partials/_head.ejs %>

<main>
    <section class="background-container">
        <img id="hero-image" src="/assets/homepage.jpg" alt="fruits">
    </section>
    <section>
        <div class="container" id="jumbotron-container">
            <div class="jumbotron" id="jumbotron">
                <h1>Welcome Shef <%= currentUser && currentUser.name %>!</h1>
                <p class="lead">What's on the menu today?</p>
                <hr class="my-4">
                <p>"Without experimentation, a willingness to ask questions and try new things, we shall surely
                    become static, repetitive, and moribund.”</p>
                <p>-Anthony Bourdain</p>
                <a class="btn btn-start btn-lg" href="/recipes" role="button">My Cookbook</a>
                <a class="btn btn-start btn-lg" href="/newrecipe" role="button">Add Recipe</a>
            </div>
        </div>
    </section>
</main>

    <% include ../partials/_footer.ejs %>