<footer class="page-footer">
    <nav class="navbar navbar-expand-sm fixed-bottom footer">
        <div class="row mx-auto">
            <ul class="navbar-nav footer-nav mx-auto">
                <li class="nav-item-footer">
                    <a href="#">
                        <img src="/assets/facebook.svg" alt="Facebook-icon">
                    </a>
                </li>
                <li class="nav-item-footer twitter">
                    <a href="#">
                        <img src="/assets/twitter.svg" alt="Twitter-icon">
                    </a>
                </li>
                <li class="nav-item-footer instagram">
                    <a href="#">
                        <img src="/assets/instagram.svg" alt="Instagram-icon">
                    </a>
                </li>
                <li class="nav-item-footer pinterest">
                    <a href="#">
                        <img src="/assets/pinterest.svg" alt="Pinterest-icon">
                    </a>
                <li class="nav-item-footer snapchat">
                    <a href="#">
                        <img src="/assets/snapchat.svg" alt="Snapchat-icon">
                    </a>
            </ul>
        </div>
        </div>
    </nav>
</footer>
</body>

</html>