<footer class="page-footer">
    <nav id="footer" class="navbar navbar-expand-sm fixed-bottom">
        <div class="row mx-auto">
            <ul class="navbar-nav footer-nav mx-auto">
                <p class="cp-text">
                    © Copyright 2019 Shef. All rights reserved.
                </p>
            </ul>
        </div>
        </div>
    </nav>
</footer>
</body>

</html>