<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Main CSS -->
    <link rel="stylesheet" href="styles/styles.css">
    <!-- Main JS -->
    <script src="scripts/app.js" defer></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shef</title>
</head>
<body>

 <% include ./_navbar.ejs %>