<% include ../partials/_head.ejs %>

<main>
    <section class="background-container">
        <img id="hero-image" src="/assets/homepage.jpg" alt="fruits">
        <section>
            <div class="container" id="jumbotron-container">
                <div class="jumbotron" id="jumbotron">
                    <h1>Shef.</h1>
                    <p class="lead">A recipe management system.</p>
                    <hr class="my-4">
                    <p> Recipes are meant to be saved and shared. 
                        Shef is a clean and convienent platform for managing all of your recipes.</p>
                    <a class="btn btn-start btn-lg" href="accounts/login" role="button">Login</a>
                    <a class="btn btn-start btn-lg" href="accounts/signup" role="button">Sign Up</a>
                </div>
            </div>
        </section>
    </section>
</main>

<% include ../partials/_mainfooter.ejs %>