* {
    box-sizing: border-box;
}

body {
    min-width: 1080px;
    margin-top: 5em;
}

.navbar, .navbar-bottom {
    background-color: rgba(255,255,255,0.8);
}

.navbar-brand, .nav-link {
    color: black;
}

.background-container {
    position: relative;
    width: 100%;
}

#hero-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

#jumbotron-container {
    position: relative;
    height: 100vh;
}

#jumbotron {
    background-color: transparent;
    position: absolute;
    width: 43vw;
    right: 5vw;
}

.btn-start {
    background-color: rgba(212, 230, 176, 0.8);
}

.nav-item-footer {
    margin-left: 2em;
}

#newRecipeForm {
    padding: 5em;
}

.recipesContainer {
    margin: 5em;
}

/* 
.icon-img {
    padding: 0;
    margin: 0;
} */

/* MESSAGES */

.alert.error:first-of-type {
    margin: -30px auto 10px;
}

.alert.error {
    background-color: #f8d7da;
    max-width: 680px;
    padding: 20px;
    margin: 0 auto 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    color: #721c24;
}

.alert .container {
    margin: 0 auto;
}

/* Errors */

.input-error {
  background-color: #f5c6cb;
  border: 2px solid #721c24;
}

  /* Nav */

nav ul {
    /* font-size: 0; */
    float: right;
}

nav li {
    list-style-type: none;
    display: inline-block;
    font-size: 1em;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 20px 25px; 
}

li a:visited {
  color: inherit;
}

li.active a, nav li:hover a {
  text-decoration: none;
  color: #ddd;
  font-size: 1.2em;
}

.btn:hover {
    size: 1.2em;
}